{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3>Comparação entre áreas da cidade</h3>
        <div class="map" id="region-map"></div>
    </div>
    <div class="col-md-6">
        <h3>Localização dos problemas</h3>
        <div class="map" id="heat-map"></div>
    </div>
</div>

<br/><br/>
<div class=row>
    <div class="col-md-6">
        <div class="" id="fact-chart"></div>
    </div>
    <div class="col-md-6">
        <div id="evolution-chart"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'website/heatmap.js' %}"></script>
<script src="{% static 'website/heatmap-leaflet.js' %}"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script>
var geoJsonUrl = "{% static 'website/sptrans-areas.geojson' %}",
    occurrenciesPointsUrl = "{% url 'broker:report_occurrences_points' %}",
    totalPerRegionUrl = "{% url 'broker:report_total_per_region' %}",
    factsComplaintsUrl = "{% url 'broker:report_facts_complaints' %}",
    evolutionUrl = "{% url 'broker:report_evolution' %}";

function getColor(d) {
    return d > 80 ? '#FF0000' :
           d > 70  ? '#FF2222' :
           d > 60  ? '#FF4444' :
           d > 50  ? '#FF6666' :
           d > 40   ? '#FF8888' :
           d > 30   ? '#FFAAAA' :
           d > 10   ? '#FFCCCC' :
                      '#FFFFFF';
}

$(document).ready(function(){
    var initialCoordinates = [-23.6725, -46.5995],
        initialZoom = 10,
        regionMap = L.map('region-map').setView(initialCoordinates, initialZoom),
        heatMap = L.map('heat-map').setView(initialCoordinates, initialZoom),
        tileUrl = 'http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png',
        tileConfigs = {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        },
        info = L.control(),
        geojson,
        heatmapLayer,
        generalRegionData,
        legend = L.control({position: 'bottomright'});

    L.tileLayer(tileUrl, tileConfigs).addTo(regionMap);
    L.tileLayer(tileUrl, tileConfigs).addTo(heatMap);

    info.onAdd = function(map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };
    info.update = function(properties) {
        this._div.innerHTML = '<h4>Reclamações<br />nos últimos 30 dias</h4>' + (properties ?
            '<strong>Área ' + properties.area + ' ' + properties.nome + ':</strong> '
                + generalRegionData[properties.area] + ' reclamações'
                : 'Passe o mouse nas áreas'
        );
    }


    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.density)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        regionMap.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    heatmapLayer = L.TileLayer.heatMap({
        radius: 5,
        opacity: 0.8,
        gradient: {
            0.45: "rgb(0,0,255)",
            0.55: "rgb(0,255,255)",
            0.65: "rgb(0,255,0)",
            0.95: "yellow",
            1.0: "rgb(255,0,0)"
        }
    });

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 10, 30, 40, 50, 60, 70, 80],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    $.getJSON(geoJsonUrl, function(geoJsonData){
        $.getJSON(totalPerRegionUrl, function(regionData){
            generalRegionData = regionData;
            geojson = L.geoJson(geoJsonData, {
                'style': function(feature){
                    var regionDensity = regionData[feature.properties.area];

                    return {
                        'fillColor': getColor(regionDensity),
                        'fillOpacity': 0.8,
                        'stroke': false
                    }
                },
                'onEachFeature': onEachFeature
            }).addTo(regionMap);
            info.addTo(regionMap);
            legend.addTo(regionMap);
        });
    });

    $.getJSON(occurrenciesPointsUrl, function(data){
        heatmapLayer.addData(data);
        heatmapLayer.addTo(heatMap);
    });

    $.getJSON(evolutionUrl, function(data){
        $('#evolution-chart').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Evolução dos problemas'
            },
            xAxis: {
                categories: ['4 meses', '3 meses', '2 meses', '1 mês'],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Porcentagem'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: ({point.y:,.0f} )<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#ffffff',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    }
                }
            },
            series: data
        });

    });


    $.getJSON(factsComplaintsUrl, function(data){
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
        $('#fact-chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribuição dos problemas'
            },
            subtitle: {
                text: "Últimos 30 dias"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Reclamações',
                data: data
            }]
        });
    });
});
</script>
{% endblock %}
